@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.spinner-container {
  position: absolute;
  z-index: 1010; 
}

.content-container {
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .content-container {
    max-width: 1280px;
  }
}